.aboutme-wrapper {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  justify-content: center;

  @media (min-width: 1000px) {
    flex-direction: row;
    margin: 40px auto;
    width: 95%;
  }

  @media (min-width: 1300px) {
    width: 80%;
  }

  @media (min-width: 1600px) {
    width: 70%;
  }
}

.aboutme-text {
  @media (min-width: 1000px) {
    padding: 20px;
    flex-basis: 60%;
  }
}

.aboutme-photo {
  width: 95%;
  height: auto;

  @media (min-width: 1000px) {
    width: 50%;
    padding-top: 40px;
  }

  @media (min-width: 1600px) {
    width: 40%;
  }
}

.aboutme-photo img {
  display: block;
  width: 90%;
  height: auto;
  margin: 0 auto;
}

.alternative-position {
  order: 2;

  @media (min-width: 1000px) {
    order: 0;
  }
}

.czechitas-photo {
  width: 100%;
  height: auto;
  display: block;
  margin: 15px auto;

  @media (min-width: 1600px) {
    width: 70%;
  }
}
