$color-background-primary: #262626;
$color-background-secondary: #1e1e1e;
$color-text-primary: #f4effa;
$color-text-secondary: #532b88;
$color-text-links: #9b72cf;
$font-base: Helvetica, sans-serif;
$font-special: Georgia;
$regular-text: 24px;
$spacer: 30px;

* {
  box-sizing: border-box;
}

body {
  background-color: $color-background-primary;
  color: $color-text-primary;
  font-family: $font-base;
  margin: 0;
  padding: 0;
  font-size: $regular-text;
}

h2 {
  text-align: center;
  font-size: 4rem;
}
