$color-background-primary: #0d1b2a;
$color-background-secondary: #1b263b;
$font-base: Helvetica, sans-serif;
$font-special: Georgia;
$body-text: 16px;
$spacer: 30px;

body {
  background-color: $color-background-primary;
}
