@use 'base';

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  background-color: base.$color-background-secondary;
  box-shadow: 3px 3px 1px 1px rgba(155, 114, 207, 0.3);
  border-radius: 10px;
  padding: 30px;
  margin: 30px auto;
  width: 95%;
  align-self: center;

  @media (min-width: 768px) {
    width: 90%;
    padding: 40px;
  }

  @media (min-width: 900px) {
    width: 80%;
  }

  @media (min-width: 1300px) {
    flex-direction: row;
  }
}

.card__title {
  font-size: 2rem;
  color: white;
  text-align: center;
}

.card__text {
  color: white;
  text-align: justify;
  flex-basis: 65%;

  @media (min-width: 1000px) {
    margin-left: 15px;
  }
}

.card__image {
  flex-basis: 35%;
}

.card__image img {
  width: 90%;
  display: block;
  margin: 0 auto;

  @media (min-width: 768px) {
    width: 70%;
  }

  @media (min-width: 1300px) {
    width: 300px;
    height: auto;
  }

  @media (min-width: 1600px) {
    width: 350px;
    height: auto;
  }
}

.card a {
  color: base.$color-text-links;
  text-decoration: none;
  padding-left: 20px;
  text-align: left;

  &:hover {
    color: base.$color-buttons;
  }
}
