@use 'base';

.footer {
  background-color: base.$color-background-secondary;
  padding: 20px;
  width: 100%;
  text-align: center;
}

.footer a {
  color: base.$color-text-links;
  text-decoration: none;
}
