@use 'base';

header {
  position: sticky;
  top: 0;
}

.navbar {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  background-color: base.$color-background-secondary;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.nav-item {
  list-style: none;
}

.nav-link {
  text-decoration: none;
  color: white;
}

.nav-link {
  transition: 0.7s ease;
}

.nav-link:hover {
  color: base.$color-text-secondary;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

.brand {
  font-size: 2rem;
}

.brand__geek {
  display: inline-block;
}

.brand__power {
  display: inline-block;
  padding: 10px;
  border-radius: 5px;
  background-color: base.$color-text-secondary;
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 50px;
    gap: 0;
    flex-direction: column;
    background-color: base.$color-background-secondary;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }

  .nav-item {
    margin: 16px 0;
  }

  .nav-menu.active {
    left: 0;
  }
}
