@use 'base';

.hero-wrapper {
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  width: 80%;
}

.hero__title {
  text-align: center;
  font-size: 36px;
}

.hero__subtitle {
  text-align: center;
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 10px;
}

.hero__text {
  text-align: center;
  padding: 60px;
  font-style: italic;
  font-size: 32px;
}

.hero__button {
  padding: 1rem;
  background-color: base.$color-buttons;
  border-radius: 30px;
  width: 90%;
  text-align: center;
  align-self: center;
  &--action {
    width: 300px;
    height: 100px;
    line-height: 25px;
    padding: 1rem;
    background-color: base.$color-buttons;
    border-radius: 15px;
    text-align: center;
    align-self: center;
  }
}

@media (min-width: 768px) {
  .hero-wrapper {
    width: 90%;
  }

  .hero__title {
    font-size: 5rem;
  }

  .hero__button {
    width: 40%;
  }
}
