@use 'base';

.hero-wrapper {
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  width: 95%;

  @media (min-width: 768px) {
    width: 80%;
  }

  @media (min-width: 1300px) {
    width: 70%;
  }
}

.hero__title {
  text-align: center;
  font-size: 3rem;

  @media (min-width: 768px) {
    font-size: 4rem;
  }

  @media (min-width: 1300px) {
    font-size: 5rem;
  }
}

.hero__subtitle {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 10px;

  @media (min-width: 768px) {
    font-size: 2rem;
  }
}

.hero__text {
  text-align: center;
  padding: 20px 10px;
  font-style: italic;
  font-size: 1.7rem;

  @media (min-width: 768px) {
    padding: 30px 20px;
  }
  @media (min-width: 1300px) {
    padding: 60px;
  }
}

.hero__button {
  padding: 1rem;
  background-color: base.$color-buttons;
  border-radius: 30px;

  text-align: center;
  align-self: center;

  &:hover {
    background-color: base.$color-text-links;
  }
}

.hero__button a {
  text-decoration: none;
  display: block;
  color: base.$color-text-primary;
}

.guarantee__button {
  width: 80%;
  height: auto;
  line-height: 25px;
  padding: 30px;
  background-color: base.$color-buttons;
  border-radius: 15px;
  text-align: center;
  align-self: center;

  &:hover {
    background-color: base.$color-text-links;
  }

  @media (min-width: 1300px) {
    width: 50%;
  }
}

.guarantee__button a {
  text-decoration: none;
  display: block;
  color: base.$color-text-primary;
}

.hero__subheading {
  font-size: 2.5rem;
  margin-top: 50px;
  margin-bottom: 10px;
  text-align: center;

  @media (min-width: 768px) {
    font-size: 3rem;
  }
}

.hero__link {
  color: base.$color-text-links;
  text-decoration: none;

  &:hover {
    color: base.$color-buttons;
  }
}
