@use 'base';

.lesson__mainheading {
  text-align: center;
}

.lesson__subheading {
  text-align: center;
  font-size: 2rem;
  margin-top: 60px;
}

.lesson_paragraph {
  width: 95%;
  margin: 20px auto;

  @media (min-width: 768px) {
    width: 90%;
  }

  @media (min-width: 1000px) {
    width: 70%;
  }
  @media (min-width: 1500px) {
    width: 60%;
  }
}

.expanded {
  margin-top: 50px;
  font-weight: 700;
}

.marginer {
  margin-top: 50px;
}

.examples {
  font-style: italic;
}

.example-underlined {
  font-weight: 600;
  color: #9b72cf;
}

.lesson__big-photo {
  width: 90%;
  height: auto;
  display: block;
  margin: 10px auto;

  @media (min-width: 1000px) {
    width: 80%;
    margin: 15px auto;
  }

  @media (min-width: 1600px) {
    width: 60%;
  }
}

.lesson__button {
  width: 70%;
  height: auto;
  line-height: 25px;
  padding: 30px;
  background-color: base.$color-buttons;
  border-radius: 15px;
  text-align: center;
  align-self: center;
  margin: 30px auto;

  &:hover {
    background-color: base.$color-text-links;
  }

  @media (min-width: 768px) {
    width: 50%;
  }

  @media (min-width: 1000px) {
    width: 50%;
  }

  @media (min-width: 1300px) {
    width: 30%;
  }
}

.lesson__button a {
  text-decoration: none;
  display: block;
  color: base.$color-text-primary;
}

.lesson__image {
  display: block;
  margin: 5px auto;
  width: 90%;

  @media (min-width: 768px) {
    width: 80%;
  }

  @media (min-width: 1000px) {
    width: 60%;
  }

  @media (min-width: 1500px) {
    width: 30%;
  }
}

.reading__text {
  font-style: italic;
  padding: 20px;
  width: 90%;
  border: 2px solid #532b88;
  margin: 40px auto;

  @media (min-width: 768px) {
    width: 90%;
    padding: 30px;
    margin: 50px auto;
  }

  @media (min-width: 1000px) {
    width: 70%;
    padding: 40px;
  }
  @media (min-width: 1500px) {
    width: 60%;
  }
}

.iframe-container-wrapper {
  max-width: 800px;
  margin: 0 auto;
}

.iframe-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
}

.iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -99;
}
