@use 'base';

/* PRICE CARD */

.price-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;
  border: 1px solid black;
  background-color: base.$color-background-secondary;
  box-shadow: 3px 3px 1px 1px rgba(155, 114, 207, 0.3);
  border-radius: 10px;
  padding: 20px;
  margin: 20px auto;
  width: 90%;

  @media (min-width: 1000px) {
    width: 60%;
  }

  @media (min-width: 1300px) {
    width: 50%;
  }
}

.price-card__price {
  display: block;
  padding: 10px;
  border-radius: 5px;
  background-color: base.$color-buttons;
  font-size: 2rem;
}

.price-card__list p {
  padding: 20px;
}

.price-card__action {
  font-size: 2rem;
}

.price-card a {
  color: base.$color-text-links;
  text-decoration: none;
}

/* TIMETABLE  */

.timetable {
  padding: 15px;
  text-align: center;
  margin: 0 auto;
  width: 95%;

  @media (min-width: 600px) {
    width: 80%;
  }

  @media (min-width: 1000px) {
    width: 50%;
  }
}

.timetable__days {
  background-color: base.$color-buttons;
}

.timetable__hours {
  background-color: base.$color-text-links;
}

.timetable__slot {
  background-color: green;
}

.timetable__slot--taken {
  background-color: red;
}
