<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <script src="/scripts/scripts.js" defer></script>
    <title>{{ title }}</title>
  </head>
  <body>
    <header>
      <nav class="navbar">
        <div class="brand">
          <span class="brand__geek">Geek</span>
          <span class="brand__power">Power</span>
        </div>

        <ul class="nav-menu">
          <li class="nav-item">
            <a href="/" class="nav-link">Domů</a>
          </li>
          <li class="nav-item">
            <a href="/gpmethod" class="nav-link">Metoda GP</a>
          </li>
          <li class="nav-item">
            <a href="/reservation" class="nav-link">Rezervace</a>
          </li>

          <li class="nav-item">
            <a href="/aboutme" class="nav-link">O mě</a>
          </li>
          <li class="nav-item">
            <a href="/contact" class="nav-link">Kontakt</a>
          </li>
        </ul>

        <div class="hamburger">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </div>
      </nav>
    </header>
    {{ content | safe }}
    <footer class="footer">
      <p>© Geek Power by Veronika Rychlá, 2023</p>
      <p><a href="/termsandconditions">Obchodní podmínky transparentně</a></p>
    </footer>
  </body>
</html>
